<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Quote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <div class="terminal" id="terminal">
        <h1>❝ Quote of the Day ❞</h1>
        <br>
        <div id="quote" style="display: none;">{{quote}}</div>
        <div id="quote-container"></div>
        <hr><hr>
        <p>Quote Scraped from : <a href="https://en.wikiquote.org/wiki/Main_Page">https://en.wikiquote.org/wiki/Main_Page</a></p>
    </div>
    
</body>
</html>
